/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic-ext'); */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

[hidden],
template {
    display: none
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: bold
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}


/*FONTS*/

body {
    font-family: 'Open Sans', Arial, Tahoma, sans-serif
}


/*BASIC*/

html,
body {
    width: 100%;
    height: 100%
}

body {
    background-color: #000;
    background-image: url(../../../../../templates/lince/images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    background-attachment: fixed;
    color: #979fa5;
    font-size: 14px;
    line-height: 1.4
}

img {
    display: block
}


/*TITLE*/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    line-height: 1
}

h1,
.h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px
}

h2,
.h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px
}

h3,
.h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px
}

h4,
.h4 {
    font-size: 24px;
    margin: 0 0 40px 0;
    line-height: 1.5
}

a {
    color: #979fa5
}


/*HELP*/

.clr {
    clear: both;
    width: 100%;
    height: 0;
    display: block
}

.left {
    float: left
}

.right {
    float: right
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*!!!!!*/
    justify-content: space-between;
    align-items: center
}

.flex {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
}

.flex-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*!!!!!*/
    justify-content: space-between;
}


/*BG*/

.bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.bg-red {
    background: #85222f;
    transition: all 550ms;
}

.bg-black {
    background: #181818;
    transition: all 550ms;
}


/*COLOR*/

.red {
    color: #85222f
}


/*GENERAL*/

.section {
    position: relative;
    width: 100%;
    /* padding: 35px 50px 50px; */
    padding: 35px 50px 50px;
}

.section-full {
    height: 100%;
    min-height: 620px
}

.section-top {
    padding-top: 90px
    /* padding-top: 60px; */
}

.section-scroll-y {
    width: 100%
}

.wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    /* max-width: 1600px; */
}

.wrap-full {
    height: 100%
}

.wrap-min {
    max-width: 800px
}

.wrap-content {
    width: 90%
}

.content-left,
.content-right {
    width: 50%
}

.content-right {
    padding: 10px 0 0 80px
}

.section-title {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 0 0 200px;
    position: relative;
    display: inline-block
}

.section-title:after {
    background: #85222f;
    height: 3px;
    content: '';
    display: block;
    position: absolute;
    left: 50px;
    top: 10px;
    width: 140px
}

@media screen and (max-width: 600px) {
    .section-title {
        padding: 0 0 0 60px;
    }
    .section-title:after {
        width: 40px;
        left: 10px;
    }
}

.section-title a {
    margin-left: 20px;
    text-decoration: none;
    color: #F5F5F5;
    border-bottom: 1px solid #3a3a3a;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    transition: all 250ms
}

.section-title a:hover {
    border-color: #85222f
}

.section-discipline {
    height: 600px;
}

.section-page {
    margin-top: 60px;
    height: auto;
    display: inline-block;
}

.section-discipline .first-section {
    height: 100%
}

.section-discipline .wrap {
    height: 100%
}

.section-discipline .first-trener {
    height: 90%
}


/*PRELOADER*/

#hellopreloader_preload {
    display: block;
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000
}

.symbol {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px
}

.symbol path {
    stroke-width: 0;
    stroke: #852330;
    animation: symbol 1200ms ease-in-out infinite
}

@keyframes symbol {
    0% {
        fill: #852330
    }
    50% {
        fill: #fff
    }
    100% {
        fill: #852330
    }
}


/*HEADER*/

header {
    position: fixed;
    background: #000;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 50px;
    z-index: 9999
}

header ul,
header ol {
    margin-bottom: 0;
}

.header-fixed {
    background: #000
}

.logo {
    max-width: 150px;
    max-height: 50px;
}

.tel {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap
}

.tel span {
    color: #85222f
}

.title-page {
    text-align: right;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    letter-spacing: 0.05em;
    height: 50px;
    line-height: 50px;
    width: 400px;
    top: 315px;
    color: #85222f;
    white-space: nowrap;
    left: -225px;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.btn-header {
    text-transform: uppercase;
    color: #85222f;
    text-decoration: none;
    margin-right: 40px;
    font-weight: bold
}


/*NAV*/

.nav {
    position: relative;
    margin-left: 50px
}

.nav ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-left: 50px
}

.nav ul li a {
    padding: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #979fa5;
    font-size: 15px;
    font-weight: bold
}

.btn-header {
    font-size: 15px;
}

.nav ul li a:hover,
header nav ul li.active a {
    color: #85222f
}

.nav ul li ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    background: #85222f;
    padding: 10px 30px 0 30px
}

.nav ul li ul li {
    display: block;
    line-height: 1;
    margin: 0
}

.nav ul li ul li a {
    color: #000;
    font-weight: bold;
    padding: 10px 0;
    display: block
}

.nav ul li ul li a:hover,
header nav ul li ul li a.active {
    color: #000
}

.nav ul li:hover ul {
    display: block
}

.nav ul li ul .triangle:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -50px;
    border: 50px solid transparent;
    border-left: 200px solid #85222f;
    border-top: 0 solid #85222f
}


/*SOCIAL*/

.social {
    position: absolute;
    top: 140px;
    right: -42px
}

.social a {
    display: block;
    width: 35px;
    height: 20px;
    margin: 0 0 30px 0
}

.social a img {
    width: 100%;
    display: block;
    -webkit-transition: all 350ms;
    -moz-transition: all 350ms;
    transition: all 350ms
}

.social a:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2)
}


/*FOOTER*/

footer {
    position: relative;
    width: 100%;
    padding: 30px 50px 40px 50px;
    border-top: 1px solid #222;
    font-size: 16px;
}

.footer-symbol {
    width: 100px;
    margin-right: 40px
}

.email-title {
    margin: -2px 0 15px 0;
    width: 300px
}

.copy {
    text-align: right;
    font-size: 12px
}


/*BTN*/

.btn {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    outline: 0;
    border: 0;
    /* padding: 10px 20px; */
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: all 350ms;
    -moz-transition: all 350ms;
    transition: all 350ms
}

.btn-default {
    background: none;
    border: 1px solid #85222f;
    color: #979fa5
}

.btn-black {
    background: #000;
    border: 1px solid #000;
    color: #65696e;
}

.btn-transparent {
    background: transparent;
    border: 1px solid #65696e;
    color: #65696e;
}

.btn-default:hover,
.btn-transparent:hover,
.btn-black:hover {
    background: #7b848a;
    border-color: #7b848a;
    color: #000
}


/*TABS*/

.tabs__content,
.tabs__content2 {
    display: none;
}

.tabs__content.active,
.tabs__content2.active {
    display: block;
}

.tabs__caption,
.tabs__caption2 {
    display: inline-block
}

.tabs__caption li {
    list-style: none;
    display: inline-block;
    cursor: pointer
}

.tabs__caption li.btn-default.active {
    color: #000;
    background: #7e858a;
    border-color: #7e858a
}

.tabs__caption2 {
    padding-top: 40px
}

.tabs__caption2 li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-right: 40px
}

.tabs__caption2 li span {
    border-bottom: 1px solid #979fa5
}

.tabs__caption2 li.active {
    color: #85222f
}

.tabs__caption2 li.active span {
    border-color: transparent
}


/*PAGE CONTACTS*/

.contacts-map {
    width: 60%;
    height: 100%
}

.contacts-map>ymaps {
    width: 100%;
    height: 100%;
    position: relative;
}

.contacts-addr {
    position: relative;
    width: 40%;
    padding: 0 0 0 50px
}

.contacts-addr-phone {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: bold
}

.contacts-addr-addr {
    font-size: 30px;
    margin-bottom: 80px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1
}

.contacts-addr-text {
    margin-bottom: 20px
}

form {
    width: 100%
}

form input[type="text"],
form textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #4d4d4d;
    display: block;
    /* background: #4d4d4d; */
    color: #fff
}

form input[type="text"] {
    height: 40px;
    text-indent: 10px
}

form textarea {
    height: 80px;
    padding: 10px;
    resize: none
}

form .form-col2 input[type="text"] {
    width: 49%;
    margin-bottom: 11px
}

form button {
    margin: 20px 0 0 0
}

select {
    height: 50px;
    line-height: 50px;
    width: 220px;
    margin-right: 5px;
    outline: 0;
    border: 1px solid #4d4d4d;
    background: transparent;
    color: #4d4d4d;
    padding: 0 0 0 5px;
    cursor: pointer
}

select option {
    cursor: pointer
}

::-webkit-input-placeholder {
    color: #fff
}

::-moz-placeholder {
    color: #fff
}


/* Firefox 19+ */

:-moz-placeholder {
    color: #fff
}


/* Firefox 18- */

:-ms-input-placeholder {
    color: #fff
}

.form-footer input[type="text"] {
    width: 300px;
    height: 38px
}

.form-footer button {
    margin: 0
}


/*PAGE SCHEDULES*/

.timetable {
    position: relative;
    width: 100%;
    min-width: 1000px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap
}

.timetable-col {
    width: 14%
}

.week-name {
    width: 100%;
    padding: 10px;
    background: #85222f;
    color: #cecece;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold
}

.timetable-item {
    width: 100%;
    height: auto;
    background: #1a4d0a;
    padding: 10px;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.timetable-item>a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
    cursor: default;
}

.timetable-item a {
    color: #f2f2f2;
}

.timetable-item-time {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px
}

.timetable-item-discipline {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

.timetable-item-trener {
    font-size: 15px;
    margin-top: 10px
}


/* .timetable-item:hover { */


/* background: #85222f !important */


/* } */


/*FIRST BLOCK*/

.first-text {
    text-align: left;
    position: relative;
    z-index: 110
}

.first-text img {
    width: 70%
}

.h3-index {
    font-size: 38px;
    margin: 20px 0 30px 0
}

.first-text span {
    display: block
}

.first-trener {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 103%;
    width: auto;
    z-index: 100
}

.first-text-btn {
    margin-top: 20px
}

.first-text-btn a {
    margin-bottom: 10px
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.2;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}


/*TRENER*/

.trener-box-list {
    margin: -15px;
    /* width: calc(100% + 30px); */
}

.trener-left,
.trener-right,
.trener-left.inverse,
.trener-right.inverse {
    height: 620px
}

.trener-left {
    width: 33.3%;
    float: left
}

.trener-left.inverse {
    width: 33.3%;
    float: right
}

.trener-right {
    width: 66.7%;
    float: right
}

.trener-right.inverse {
    width: 66.7%;
    float: left
}

.trener {
    padding: 15px
}

.trener-item {
    width: 100%;
    height: 100%;
    font-size: 12px;
    position: relative;
    padding: 50px
}

.trener-item .style {
    font-size: 16px;
    margin: 5px 0 20px 0;
    font-weight: bold;
    text-transform: uppercase
}

.trener-link {
    position: absolute;
    text-transform: uppercase;
    display: inline-block;
    /* font-size: 12px; */
    bottom: 50px;
    left: 50px;
    /* text-decoration: none; */
    /* padding: 5px 10px; */
    font-weight: bold;
    /* border: 1px solid #85222f; */
    z-index: 100;
    transition: all 250ms
}

.trener-link-black {
    border: 1px solid #000
}

.trener-link:hover {
    background: #85222f;
    border-color: #85222f
}

.trener-link-black:hover {
    background: #000;
    border-color: #000
}

.trener-item img {
    position: absolute;
    top: -30%;
    right: 0;
    z-index: 0
}

.trener-text {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99
}

.trener-name {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1
}


/*TRENER 1*/

.trener1 {
    height: 100%;
    color: #000
}

.trener1 .trener-item img {
    right: -40%;
    width: 130%;
    max-width: 630px
}

.trener1 .trener-item .trener-text {
    width: 55%
}

.trener1 .trener-item {
    overflow: hidden
}

.trener1 .style {
    margin-bottom: 40px
}


/*TRENER 2*/

.trener2 {
    height: 50%;
    width: 100%;
    float: left
}

.trener2 .trener-item img {
    right: 5%;
    width: 38%;
    max-width: 330px
}

.trener2 .trener-item .team-prev {
    width: 50%
}


/*TRENER 3 4*/

.trener3,
.trener4 {
    height: 280px;
    width: 50%;
    float: left
}

.trener3 .trener-item,
.trener4 .trener-item {
    overflow: hidden
}

.trener3 .trener-item img,
.trener4 .trener-item img {
    right: -40px;
    width: 75%;
    max-width: 320px
}

.trener3 .trener-item .trener-text,
.trener4 .trener-item .trener-text {
    width: 50%
}

.trener3 .team-prev,
.trener4 .team-prev {
    display: none
}


/*TRENER 4*/

.trener4 {
    color: #000
}


/*GALLERY SECTION*/

.gallery-section {
    position: relative;
    width: 100%;
    height: 100%
}

.swiper-gallery {
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-gallery .button-block {
    position: absolute;
    bottom: 80px;
    left: 0;
    z-index: 999
}

.swiper-gallery .button-block .button {
    background-color: #862131;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: block;
    margin: 0 0 1px 0;
    width: 62px;
    height: 62px;
    cursor: pointer
}

.swiper-gallery .button-block .button-prev {
    background-image: url(../../../../../templates/lince/images/button-prev.png)
}

.swiper-gallery .button-block .button-next {
    background-image: url(../../../../../templates/lince/images/button-next.png)
}

.swiper-gallery .gallery-text {
    position: absolute;
    bottom: 70px;
    left: 110px;
    z-index: 999;
    width: 200px;
    height: 140px;
    font-weight: 700;
}

.swiper-gallery .gallery-text .num {
    font-size: 184px;
    color: #000000;
    line-height: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0
}

.swiper-gallery .gallery-text div {
    position: relative;
    margin: 15px 0 0 30px;
    z-index: 99;
    color: #65696e;
    font-size: 48px;
    line-height: 0.9;
    text-transform: uppercase
}


/*PRICE*/

.price-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px -15px 15px -15px
}

.price-item {
    position: relative;
    width: 25%;
    text-align: center;
    padding: 25px 15px;
    text-transform: uppercase
}

.price-item-box {
    background: #181818;
    height: 100%;
    position: relative;
    padding: 80px 5px 10px;
}

.price-item-box .glyphicon {
    font-size: 70px;
}

.price-item img {
    display: block;
    margin: 0 auto 10px auto
}

.price-item-bottom {
    width: 100%
}

.price-item-bottom p {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px
}

.price-item-name {
    height: 70px;
    overflow: hidden;
    margin: 15px 0 0 0;
    font-size: 20px;
    font-weight: bold
}

.price-item-desc {
    height: 70px;
    overflow: hidden;
    margin: 5px auto 0 auto;
    text-transform: uppercase;
    font-size: 16px;
    width: 70%
}

.price-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0 -20px 0
}

.order-form {
    width: 420px;
    padding: 50px !important;
    background: #000 !important
}

.order-form-name {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase
}

.order-form-desc {
    margin-bottom: 20px
}

.order-form input[type="text"] {
    width: 100%;
    margin-bottom: 10px
}

.popup-time-trener {
    width: 520px;
    padding: 50px !important;
    background: #000 !important
}

.popup-time-trener-name {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 20px
}

.popup-time-trener-name span {
    color: #85222f
}

.popup-time-trener-discipline {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold
}

.popup-time-trener-item-text {
    width: 50%
}

.popup-time-trener-item {
    padding: 40px;
    margin-top: 30px;
    position: relative;
    height: 300px;
    overflow: hidden
}

.popup-time-trener-item img {
    position: absolute;
    right: -60px;
    bottom: 0;
    width: 320px
}

.popup-time-trener-item-name {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1
}

.popup-time-trener-item-prev {
    font-size: 12px
}

.popup-time-trener-button {
    margin-bottom: 20px
}

#page,
.mm-page {
    height: 100%;
    /* overflow-x: hidden; */
}

.gamburger {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    display: none;
    background: url(../images/gamburger.png);
}

.navbar-toggle {
    margin-top: 0;
}

@media screen and (max-width: 1400px) {
    /*TRENER*/
    .trener3 .trener-item img,
    .trener4 .trener-item img {
        right: -70px
    }
}

@media screen and (max-width: 1300px) {
    /*TRENER*/
    .trener1 .trener-item img {
        right: -50%;
        width: 150%
    }
    .trener2 .trener-item img {
        right: 1%
    }
    .trener3 .trener-item img,
    .trener4 .trener-item img {
        /* display: none */
    }
}

@media screen and (max-width: 1100px) {
    /*GENERAL*/
    .section {
        position: relative;
        width: 100%;
        padding: 50px 30px
    }
    .section-top {
        padding-top: 90px
    }
    /*HEADER*/
    header {
        padding: 0 30px;
        background: #000;
        font-size: 15px;
    }
    .title-page,
    .social {
        display: none
    }
    /*NAV*/
    .nav {
        margin-left: 20px
    }
    .nav ul li {
        margin-left: 20px
    }
    /*TRENER*/
    .trener-box-list {
        margin: -5px
    }
    .trener-left,
    .trener-right,
    .trener-left.inverse,
    .trener-right.inverse {
        height: 520px
    }
    .trener {
        padding: 5px
    }
    .trener-item {
        padding: 40px
    }
    .trener-link {
        bottom: 40px;
        left: 40px
    }
}

@media screen and (max-width: 1024px) {
    .btn-header {
        display: none
    }
}

@media screen and (max-width: 1000px) {
    /*HEADER*/
    .tel {
        font-size: 14px
    }
    /*NAV*/
    .nav {
        margin-left: 10px
    }
    .nav ul li {
        margin-left: 15px
    }
    .nav ul li a {
        font-size: 15px
    }
    /*SCHEDULE*/
    .section-scroll-y {
        overflow: auto
    }
    /*DISCIPLINE LIST*/
    .news-item-name-v2 {
        font-size: 24px
    }
    /*PAGE CONTACTS*/
    .contacts-addr-phone {
        font-size: 24px;
        margin-bottom: 10px
    }
    .contacts-addr-addr {
        font-size: 18px;
        margin-bottom: 60px
    }
    .contacts-addr-text {
        margin-bottom: 20px
    }
}

@media screen and (max-width: 800px) {
    /*TRENER*/
    .trener-box-list {
        margin: -15px
    }
    .trener-left,
    .trener-right,
    .trener-left.inverse,
    .trener-right.inverse {
        height: 620px;
        width: 100%;
        float: none
    }
    .popup-time-trener {
        width: 100%;
        padding: 30px !important
    }
    .popup-time-trener-item-text {
        width: 100%
    }
    .popup-time-trener-item {
        padding: 20px;
        height: auto
    }
    .popup-time-trener-item img {
        display: none
    }
    .first-trener {
        display: none
    }
    .content-left,
    .content-right {
        width: 100%;
        padding: 10px 0
    }
    .team-detail-photo,
    .team-detail-prev-text,
    .team-detail-desc {
        width: 100%
    }
    .team-detail-desc {
        padding: 50px 15px;
    }
}

@media screen and (max-width: 740px) {
    html,
    body {
        height: auto
    }
    #page,
    .mm-page {
        height: auto
    }
    /*GENERAL*/
    .section {
        position: relative;
        width: 100%;
        padding: 50px 10px;
    }
    .section-top {
        padding-top: 90px
    }
    .section-full,
    .wrap-full {
        height: auto;
        max-height: inherit;
        min-height: auto
    }
    /*HEADER*/
    header {
        padding: 0 10px
    }
    footer {
        padding: 20px 10px
    }
    .logo {
        margin-left: 60px
    }
    /*NAV*/
    .nav {
        display: none
    }
    .gamburger {
        display: block
    }
    /*PAGE CONTACTS*/
    .contacts-map {
        width: 100%;
        height: 400px
    }
    .contacts-addr {
        width: 100%;
        padding: 50px 0 0 0
    }
    /*PRICE*/
    .price-item {
        width: 50%
    }
    /*DISCIPLINE LIST*/
    .news-list-v2 {
        height: auto
    }
    .news-item-v2 {
        width: 50%;
        height: 250px
    }
    /*NEWS LIST*/
    /* .news-item { */
    /* width: 50% */
    /* } */
    /*GALLERY SLIDER*/
    .gallery-section {
        height: 400px
    }
    /*FIRST BLOCK*/
    .first-text {
        text-align: left;
        width: 100%;
    }
    .first-text a {
        margin-bottom: 10px
    }
    .first-text img {
        width: 100%
    }
    .h3-index {
        font-size: 24px;
        margin: 10px 0 50px 0
    }
    .first-text span {
        display: block
    }
    .first-trener {
        opacity: 0.5
    }
}

@media screen and (max-width: 500px) {
    /*TRENER*/
    .trener-box-list {
        margin: -15px
    }
    .trener-left,
    .trener-right,
    .trener-left.inverse,
    .trener-right.inverse {
        height: auto
    }
    .trener-link {
        position: relative;
        bottom: inherit;
        left: inherit;
        margin-top: 30px
    }
    .trener-item img {
        display: none
    }
    .trener1 .style {
        margin-bottom: 20px
    }
    .trener1,
    .trener2,
    .trener3,
    .trener4 {
        height: auto;
        width: 100%;
        float: none
    }
    .trener1 .trener-item .trener-text,
    .trener2 .trener-item .trener-text,
    .trener3 .trener-item .trener-text,
    .trener4 .trener-item .trener-text {
        width: 100%
    }
    .trener2 .trener-item .team-prev {
        width: 100%
    }
    .trener3 .trener-item .team-prev,
    .trener4 .trener-item .team-prev {
        display: block
    }
    /*PRICE*/
    .price-item {
        width: 100%;
        height: auto
    }
}

@media screen and (max-width: 440px) {
    /*DISCIPLINE LIST*/
    .news-item-v2 {
        width: 100%;
        height: 250px;
    }
    /*NEWS LIST*/
    .news-item {
        width: 100%
    }
}

@media screen and (max-width: 380px) {
    /*HEADER*/
    .logo {
        max-width: 100px;
        max-height: 50px;
    }
    .tel {
        font-size: 12px
    }
}

@media screen and (max-width: 240px) {
    /*HEADER*/
    .logo {
        margin-top: 17px
    }
    .tel {
        display: none
    }
    /*DISCIPLINE LIST*/
    .news-item-name-v2 {
        font-size: 18px
    }
}

.help-block {
    margin: 0;
    min-height: 20px;
}

.form-group {
    margin-bottom: 5px;
}

.required label::after {
    content: '*';
    color: #9c1f26;
    position: relative;
    right: -2px;
}

.width-100 {
    width: 100%;
}

.pa-0 {
    padding: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-5 {
    margin-top: 5px;
}

.ma-5 {
    margin: 5px;
}

.ma-10 {
    margin: 10px;
}

.ma-15 {
    margin: 15px;
}

.display-block {
    display: block;
}

.form-style {
    font-size: 15px;
    text-transform: uppercase;
}