.row.reh {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row.reh>[class*='col-'] {
    display: flex;
    flex-direction: column;
}


/* 
.row {
    display: flex;
    flex-wrap: wrap;
}

.row>[class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row:after,
.row:before {
    display: flex;
} */