.mm-navbars_top {
    background: rgba(255, 255, 255, 0.3);
}

.mm-panels,
.mm-panels>.mm-panel {
    background: none;
}

.mm-panel {
    padding: 0 20px 20px 0;
}

.mm-navbar_has-btns {
    border: none;
    padding-left: 0 !important;
}

.mm-searchfield {
    height: 60px;
    padding: 23px 0 0 20px;
    position: relative;
}

.mm-searchfield input {
    background: none !important;
    border-radius: 0 !important;
    color: #fff !important;
    height: 45px;
}

.mm-navbar__btn {
    margin-top: 6px;
}

.mm-prev::before {
    left: 18px;
}

.mm-panels>.mm-panel:before {
    height: 20px;
}

.mm-listitem>a,
.mm-listitem>span {
    color: rgba(255, 255, 255, 0.8);
}

.mm-listitem>a,
.mm-listitem>span {
    font-size: 16px;
    padding: 15px 10px 15px 40px;
}

.mm-navbar_size-2 {
    height: 50px;
}

.mm-menu_navbar_top-2 .mm-panels {
    top: 50px;
}

.mm-navbar__title {
    line-height: 30px;
}

.mm-navbars_top {
    border-bottom-width: 0;
}

.mm-listitem:hover {
    /* font-weight: 600; */
    background-color: #cccccc20;
}

.mm-listitem:hover .mm-btn_next::after {
    /* font-size: 20px; */
}

.mm-navbar__title {
    text-transform: uppercase;
    font-weight: bold;
}