.news-list-v2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%
}

.news-item-v2 {
    position: relative;
    width: 33.333333%;
    height: 40vh;
    background: #000;
    overflow: hidden
}


/*.news-item-v2:nth-child(even){background-color:#85222f}*/

.news-item-bg-v2 {
    display: block;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 350ms
}

.news-item-name-v2 {
    /* color: #979fa5; */
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    position: absolute;
    bottom: 85px;
    left: 50px;
    right: 50px;
    z-index: 1
}

.news-item-link-v2 {
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    bottom: 50px;
    left: 50px;
    text-decoration: none;
    /* padding: 5px 10px; */
    font-weight: bold;
    /* border: 1px solid #85222f; */
    z-index: 1
}

.news-item-v2:hover .news-item-bg-v2 {
    transform: scale(1.1)
}

.news-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.news-item {
    position: relative;
    /* width: 25%; */
    min-height: 380px;
    padding: 15px
}

.news-box {
    height: 100%;
    width: 100%;
    padding: 30px 30px 80px 30px;
    position: relative
}

.news-img {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px
}

.news-name {
    width: 100%;
    height: 60px;
    overflow: hidden
}

.news-date {
    font-size: 15px;
    /* color: #585858; */
    margin-bottom: 5px
}

.news-link {
    display: inline-block;
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    /* padding: 5px 10px; */
    font-weight: bold;
    border: 1px solid #85222f;
    z-index: 1
}

.news-box img {
    display: block;
    max-width: 100%;
    transition: all 350ms;
    max-height: 200px;
    width: auto;
}

.news-box:hover img {
    transform: scale(1.1)
}