.team-detail-photo {
    /* padding: 50px; */
}

.team-detail-photo img {
    /* max-width: 100%; */
    width: 100%;
    height: auto;
    /* max-height: 500px; */
    /* float: right; */
    padding: 0 15px;
}

.team-detail-desc {
    /* padding: 50px; */
}

.team-detail-name {
    margin: 0;
    color: #85222f
}

.team-detail-discipline {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 40px
}

.team-detail-prev-text {
    margin-bottom: 20px;
    border: 1px solid #222;
    padding: 20px
}

.team-detail-desc ul {
    margin: 15px 40px
}